<script type="text/javascript">
  //<![CDATA[
  XHR.poll(3, '<%=url([[admin]], [[services]], [[sing-box]], [[get_status]])%>', null, function (x, data) {
    var status_elem = document.getElementById('status')

    if (data && status_elem) {
      if (data.running) {
        status_elem.innerHTML = '<b style="color:green"><%:sing-box%> <%:RUNNING%></b>'
      } else {
        status_elem.innerHTML = '<b style="color:red"><%:sing-box%> <%:NOT RUNNING%></b>'
      }
    }
  })

  XHR.poll(10, '<%=url([[admin]], [[services]], [[sing-box]], [[get_version]])%>', null, function (x, data) {
    var version_elem = document.getElementById('sing_box_version')
    if (data && version_elem) {
      version_elem.innerHTML = data.version
    }
  })

  //]]>
</script>
<fieldset class="cbi-section">
  <p>
    <em id="status"><%:Collecting data...%></em><em>&nbsp;&nbsp;<%:Version%>:</em><em id="sing_box_version"><%:Collecting data...%></em>
  </p>
</fieldset>
