name: Build luci-app-sing-box

on:
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.arch }}-${{ matrix.sdk }}
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        arch:
          - aarch64_generic
        sdk:
          - openwrt-24.10

    steps:
      - name: Checkout repository
        uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Download OpenWrt packages from mirror
        run: |
          mkdir -p openwrt
          cd openwrt
          # Скачать пакеты для rockchip/armv8 из зеркала OpenWrt
          wget -r -np -nH --cut-dirs=4 --reject "index.html*" https://mirror-03.infra.openwrt.org/releases/24.10.0/targets/rockchip/armv8/packages/

      - name: Set up build environment
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential clang llvm git libncurses5-dev zlib1g-dev gawk flex wget unzip python3-distutils python3-serial ccache

      - name: Build luci-app-sing-box
        run: |
          cd openwrt  # Переход в папку, где находятся скачанные пакеты
          make package/luci-app-sing-box/compile V=s

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: luci-app-sing-box
          path: bin/packages/${{ matrix.arch }}/luci-app-sing-box/*.ipk
